{% extends "base.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/baseUser.css"/>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul class="main-menu">
                <li><a href="{{ url_for('explore') }}" class="{{currentPage[0] == 'explore' ? 'menu-selected' : ''}}">Explore</a></li>
                <li>
                    <a class="{{currentPage[0] == 'user' ? 'menu-selected' : ''}}">User</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="{{currentPage[0] == 'wallet' ? 'menu-selected' : ''}}">Wallet</a></li>
                        <li><a href="{{ url_for('membership') }}" class="{{currentPage[0] == 'membership' ? 'menu-selected' : ''}}">Membership</a></li>
                        <li></li>
                    </ul>
                </li>
                <li><a href="" class="{{currentPage[0] == 'portfolio' ? 'menu-selected' : ''}}">Portfolio</a></li>
                <li><a href="{{ url_for('profile') }}" class="{{currentPage[0] == 'profile' ? 'menu-selected' : ''}}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
{% endblock %}