{% extends "base.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/explore.css"/>
{% endblock %}

{% block title %}Blog | PixSalle{% endblock %}

{% block main %}
    <h1>ALL BLOGS</h1>
    {% for blog in blogs %}
        <div class="image-container">
                <div class="image-info">
                        <p>{{ blog['title'] }}</p>
                        <p>{{ blog['content'] }}</p>
                        <p>{{ blog['user_id'] }}</p>
                    </form>
                </div>
        </div>
    {% endfor %}
{% endblock %}