{% extends "base.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/explore.css"/>
{% endblock %}

{% block title %}Blog | PixSalle{% endblock %}

{% block main %}
    <h1>ALL BLOGS</h1>
    {% for blog in blogs %}
        <div class="form-container">
            <form data-cy="sign-in" action="http://127.0.0.1:8030/blog/{{ blog['id'] }}" method="GET">
                        <p>{{ blog['title'] }}</p>
                        <p>{{ blog['content'] }}</p>
                        <p>{{ blog['user_id'] }}</p>
                    <input data-cy="blog__btn" type="submit" value="GO">
            </form>
        </div>
    {% endfor %}
{% endblock %}