{%extends "profile.twig"%}

{% block title %}Change password | PixSalle{% endblock %}

{% block editLayout%}
<form action="{{ formAction }}" method="POST">
  <label>
    Old password: <br>
    <input type="password" name="oldpassword" placeholder="Old password">
  </label>
  {% if formErrors['oldpassword'] %}
    <p>{{ formErrors['oldpassword'] }}</p>
  {% endif %}
  {% if formErrors['verification'] %}
    <p>{{ formErrors['verification'] }}</p>
  {% endif %}
  <label>
    New password: <br>
    <input type="password" name="newpassword" placeholder="New password">
  </label>
  {% if formErrors['newpassword'] %}
    <p>{{ formErrors['newpassword'] }}</p>
  {% endif %}
  <label>
    Confirm new password: <br>
    <input type="password" name="confirmnewpassword" placeholder="Confirm new password">
  </label>
  {% if formErrors['confirmnewpassword'] %}
    <p>{{ formErrors['confirmnewpassword'] }}</p>
  {% endif %}
  {% if formErrors['equals'] %}
    <p>{{ formErrors['equals'] }}</p>
  {% endif %}
  <input type="submit" value="Change password">
</form>
{% endblock %}