{% extends "base.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/sign.css"/>
{% endblock %}

{% block title %}Blog | PixSalle{% endblock %}

{% block main %}
        <div class="form-container">
            <form data-cy="blogIndividual">
            <h1>BLOG {{ blogs['id'] }}</h1>
                <h2>Title: {{ blogs['title'] }}</h2>
                <h2>Content: {{ blogs['content'] }}</h2>
                <h2>User Id: {{ blogs['userId'] }}</h2>
            </form>
        </div>
{% endblock %}