{% extends "base.twig" %}

{% block title %}Change password | PixSalle{% endblock %}

{% block content %}
<h1>Welcome to PixSalle</h1>
<form action="{{ formAction }}" method="POST">
  <p> Old password <input type="password" name="oldpassword" placeholder="Old password"> </p>
  {% if formErrors['oldpassword'] %}
    <p>{{ formErrors['oldpassword'] }}</p>
  {% endif %}
  {% if formErrors['verification'] %}
    <p>{{ formErrors['verification'] }}</p>
  {% endif %}
  <p> New password <input type="password" name="newpassword" placeholder="New password">  </p>
  {% if formErrors['newpassword'] %}
    <p>{{ formErrors['newpassword'] }}</p>
  {% endif %}
  <p> Confirm new password <input type="password" name="confirmnewpassword" placeholder="Confirm new password"> </p>
  {% if formErrors['confirmnewpassword'] %}
    <p>{{ formErrors['confirmnewpassword'] }}</p>
  {% endif %}
  {% if formErrors['equals'] %}
    <p>{{ formErrors['equals'] }}</p>
  {% endif %}
  <input type="submit" value="Change password">
</form>

<a href="/profile"> Edit profile </a>
{% endblock %}