{% extends "baseUser.twig" %}

{%block head%}
{{ parent() }}
  <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/profile.css"/>
{%endblock%}
{% block title %}Profile | PixSalle{% endblock %}

{% block main %}
<form action="{{ formAction }}" method="POST" enctype="multipart/form-data">
  <div class="image-section">
    <label for="pic">
      <img src="{{ formData['picture'] }}" alt="{{formData['uuid']}}" height=200 width=200>
    </label>
    <input type="file" name="pic" id="pic" class="change-image">
    {% if formErrors['picture'] %}
      <p>{{ formErrors['picture'] }}</p>
    {% endif %}
  </div>
  <div class="information-section">
    <label>
      Email: <br>
      <input type="text" name="email" placeholder="{{ formData['email'] }}" readonly>
    </label>
    <label>
      Username:<br>
      <input type="text" name="username" placeholder="{{ formData['username'] }}">
    </label>
    {% if formErrors['username'] %}
      <p>{{ formErrors['username'] }}</p>
    {% endif %}
    <label>
      Phone:<br>
      <input type="text" name="phone" placeholder="{{ formData['phone'] }}">
    </label>
    {% if formErrors['phone'] %}
      <p>{{ formErrors['phone'] }}</p>
    {% endif %}
    <a href="/profile/changePassword"> Change password </a>
    <input type="submit" value="Save changes">
  </div>
</form>
{% endblock %}
