{% extends "base.twig" %}

{% block title %}Profile | PixSalle{% endblock %}

{% block content %}
<h1>Welcome to PixSalle</h1>
<form action="{{ formAction }}" method="POST">
  <p> Username {{ formData['username'] }} <input type="text" name="username" placeholder="New username"> </p>
  <p> Email <input type="text" name="email" placeholder="{{ formData['email'] }}" readonly>  </p>
  <p> Phone {{ formData['phone'] }} <input type="text" name="phone" placeholder="New phone number"> </p>
  <p> Profile picture {{ formData['picture'] }} <input type="text" name="picture" placeholder="New picture"> </p>
  <input type="submit" value="Save changes">
</form>
{% if formErrors['username'] %}
<p>{{ formErrors['username'] }}</p>
{% endif %}
{% if formErrors['phone'] %}
<p>{{ formErrors['phone'] }}</p>
{% endif %}
{% if formErrors['picture'] %}
<p>{{ formErrors['picture'] }}</p>
{% endif %}

<a href="/profile/changePassword"> Change password </a>
{% endblock %}
