{% extends "base.twig" %}

{%block style%}
{{ parent() }}
  <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/profile.css"/>
{%endblock%}
{% block title %}Profile | PixSalle{% endblock %}

{% block main %}

  <div class="user-main-information">
    <img src="{{ formData['picture'] }}" alt="{{formData['uuid']}}" height=200 width=200>
    <div class="user-info">
      <h1>{{ formData['username'] }}</h1>
    </div>
  </div>

  <div class="edit-menu">
    <a href="{{ full_url_for('profile') }}" class="{{currentPage[1] == 'user' ? 'submenu-selected' : ''}}">EDIT PROFILE</a>
    <a href="{{ full_url_for('changePassword') }}" class="{{currentPage[1] == 'password' ? 'submenu-selected' : ''}}">EDIT PASSWORD</a>
  </div>

  {% block editLayout%}
  {%endblock%}
{% endblock %}
