{% extends "base.twig" %}

{% block style %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/sign.css"/>
{% endblock %}

{% block title %}Sign-up | PixSalle{% endblock %}

{% block main %}
  <div class="form-container">
    <h1>Sign up here!</h1>
    <form data-cy="sign-up" action="{{ formAction }}" method="POST">
      <input data-cy="sign-up__email" type="text" name="email" placeholder="Enter your email">
      {% if formErrors['email'] %}
        <p class="error" data-cy="sign-up__wrongEmail">{{ formErrors['email'] }}</p>
      {% endif %}
      <input data-cy="sign-up__password" type="password" name="password" placeholder="Enter your password">
      {% if formErrors['password'] %}
        <p class="error" data-cy="sign-up__wrongPassword">{{ formErrors['password'] }}</p>
      {% endif %}
      <input data-cy="sign-up__btn" type="submit" value="Sign-up">
    </form>
  </div>
{% endblock %}